

.Hipsum_container {
  background-color: #21e7cf;
  width:900px;

  margin: auto;
  border: 3px solid #73AD21;
}

.GeneratedText__heading {
  animation: slideInRight .7s ease-in;
  margin: 20px 30px;
  font-size:10px;
text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: 800;
}

.Hipsum__sub-heading {
  display: block;
  margin-left: 20px;
}
.GeneratedText__paragraph{
font-size: auto;
font-style: oblique;
font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.Hipsum__paragraph {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5em;
  font-size: 1.1em;
  width: 80%;
  margin: 30px auto;
}

@media screen and (max-width: 991px) {
  .Hipsum__container {
    background-color: #EAEAEA;
    text-align: justify;
    height: 100%;
    padding-bottom: 20px;
    overflow-y: hidden;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  80% {
    opacity: .6;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
